<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBySf3i3aYnJrocF2Wqfy9jqpgjz_UgvM8</string>
	<key>GCM_SENDER_ID</key>
	<string>880658500084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.daftarBelanja</string>
	<key>PROJECT_ID</key>
	<string>first-app-c381f</string>
	<key>STORAGE_BUCKET</key>
	<string>first-app-c381f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880658500084:ios:36ec0c5502c5184fab51a1</string>
	<key>DATABASE_URL</key>
	<string>https://first-app-c381f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>